/**
 * @licstart  The following is the entire license notice for the
 *  CSS code in this page.
 *
 * Copyleft 2018 Jesus E.
 *
 * @licend  The above is the entire license notice
 * for the CSS code in this page.
 *
 */
.ihover {
    display: block;
    position: relative;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.3), 0 1px 0px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

/*transition*/
.ihover, .ihover:after, .ihover:before {
    -moz-transition: all .5s cubic-bezier(0.54, 0, 0.1, 1);
    -ms-transition: all .5s cubic-bezier(0.54, 0, 0.1, 1);
    -o-transition: all .5s cubic-bezier(0.54, 0, 0.1, 1);
    -webkit-transition: left .5s cubic-bezier(0.54, 0, 0.1, 1);
    transition: all .5s cubic-bezier(0.54, 0, 0.1, 1);
}

.ihover > img {
    max-width: 100%;
    display: block;
}

.ihover:before, .ihover:after {
    position: absolute;
    background: url(../images/hover/lupa.png) no-repeat center center rgba(0,0,0,0.8);
}

/*slide circle 3*/
.ihover.circle3:before {
    content: "";
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.4);
    -moz-transform: translate(-50%, -50%) scale(1.4);
    -ms-transform: translate(-50%, -50%) scale(1.4);
    -o-transform: translate(-50%, -50%) scale(1.4);
    transform: translate(-50%, -50%) scale(1.4);
}
.ihover.circle3:hover:before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
