<!-- post footer -->
<footer class="columns">
    <div class="column has-text-left">
        <a class="button is-small is-button-grey" href="{{ SITEURL }}/">{{ _('Regresar al Inicio') }}</a>
    </div>

    {% if article.modified %}
        <div class="column has-text-centered">
            <p>
                <span class="soumaicon">
                    <svg>
                        <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/master.svg#calendar"></use>
                    </svg>
                </span>
                <span class="edit-link" title="{{ _('Fecha de modificación') }}">
                    <small class="screen-reader-text">{{ _('Modificado el') }} </small>
                    <time class="updated" datetime="{{ article.modified.isoformat() }}" itemprop="dateModified">
                        <small>{{ article.locale_modified }}</small>
                    </time>
                </span>
            </p>
        </div>
    {% endif %}

    <div class="column has-text-right hidden-more">
        <span class="soumaicon">
            <svg>
                <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/master.svg#calendar" />
            </svg>
        </span>
        {% set año = article.date|strftime('%Y') %}
        {% set mes = article.date|strftime('%m') %}
        {% set nombre_mes = article.date|strftime('%B') %}
        <time class="entry-date published" itemprop="datePublished"
              datetime="{{ article.date.isoformat() }}">
            <small>
                {{ article.date|strftime('%a %-d') }}
                <a href="{{ SITEURL }}/archives/{{ año }}/{{ mes }}/"
                   title="{% trans %}Artículos de {{ nombre_mes }} de {{ año }}{% endtrans %}">
                    {{ nombre_mes }}
                </a>
                <a href="{{ SITEURL }}/archives/{{ año }}/"
                   title="{% trans %}Artículos de {{ año }}{% endtrans %}">{{ año }}
                </a>
            </small>
        </time>

        {% if not HIDE_AUTHORS and article.authors %}
            <span class="soumaicon">
                <svg>
                    <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/master.svg#user"/>
                </svg>
            </span>
            {% for author in article.authors %}
                <span itemprop='author' itemscope itemtype="https://schema.org/Person" >
                    <small itemprop="name">
                        <a href="{{ SITEURL }}/{{ author.url }}" itemprop="url"
                           title="{% trans %}Autor del artículo{% endtrans %}">{{ author }}</a>{% if not loop.last %}, {% endif %}
                    </small>
                </span>
            {% endfor %}
        {% endif %}

        {% import 'translations.html' as translations with context %}
        {% if translations.translations_for(article) %}
            <span class="soumaicon">
                <svg>
                    <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/master.svg#translate" />
                </svg>
            </span>
            <small>
                {{ translations.translations_for(article) }}
            </small>
        {% else %}
        {% endif %}
    </div>
</footer>
