{% extends "base.html" %}

{% block head %}
    {% block title %}<title>{{ _('Créditos de %(sitename)s', sitename=SITENAME) }}</title>{% endblock %}
    {{ super() }}
    {% block seo %}
        <meta name="description" content="{{ _('Lista de autores de %(sitename)s', sitename=SITENAME) }}"/>
        <meta name="keywords" content="{{ _('articulistas, autores, colaboradores, escritores, lista de autores') }}"/>

        <!-- OpenGraph -->
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{ _('Lista de autores de %(sitename)s', sitename=SITENAME) }}"/>
        <meta property="og:description" content="{{ SITESUBTITLE }}"/>
        <meta property="og:site_name" content="{{ SITENAME }}"/>

        <!-- Twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="{{ _('Lista de autores de %(sitename)s', sitename=SITENAME) }}"/>
        <meta name="twitter:description" content="{{ SITESUBTITLE }}"/>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- start of pages -->
        <div class="columns is-multiline is-centered">
            <!-- start of page -->
            <div class="column is-7">
                <div class="card">
                    <!-- post header -->
                    <div class="card-content-header">
                        <h4 class="title is-4 has-text-centered">{{ _('Créditos') }}</h4>
                    </div>
                    <!-- end of post header -->
                    <!-- post content -->
                    <div class="card-content">
                        <div class="content">
                            <div class="card-inner-wrapper">
                                <!-- post text -->
                                <div class="card-content-text has-text-justified">

                                    <h2>{{ _('Artículos') }}</h2>
                                    <ul>
                                        {%- for author, articles in authors|sort %}
                                            <li>
                                                <a href="{{ SITEURL }}/{{ author.url }}"
                                                   title="{% trans %}Artículos escritos por {{ author }}{% endtrans %}">{{ author }}</a>
                                                ({{ articles|count }})
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    <h2>{{ _('Programación') }}</h2>
                                    <ul>
                                        <li><a href="https://www.freakspot.net/" title="{{ _('Sitio para gente Libre') }}">Jorge Maldonado Ventura</a></li>
                                        <li><a href="https://heckyel.ga/" title="{{ _('Sitio web de Jesús E.') }}">Jesús E.</a></li>
                                    </ul>

                                    <h2>{{ _('Traducción') }}</h2>
                                    <ul>
                                        <li><a href="https://rosenzweig.io/" title="{{ _('Sitio web de Alyssa Rosenzweig') }}">Alyssa Rosenzweig</a></li>
                                        <li>Jorge Maldonado Ventura</li>
                                    </ul>

                                    <h2>{{ _('Software que usa la página') }}</h2>
                                    {% set software = (('https://nginx.org/', 'Nginx'),
                                        ('http://babel.pocoo.org/', 'Babel'),
                                        ('https://pypi.org/project/beautifulsoup4/', 'BeautifulSoup4'),
                                        ('https://www.python.org/', 'Python'),
                                        ('https://www.php.net/', 'PHP'),
                                        ('https://blog.getpelican.com/', 'Pelican'),
                                        ('https://pypi.org/project/Markdown/', 'Markdown'),
                                        ('https://conocimientoslibres.tuxfamily.org/pages/librejs.html', _('Algunos programas de JavaScript'),)) %}
                                    <ul>
                                        {% for program in software %}
                                            <li><a href="{{ program[0] }}" title="{{ _('Sitio web de %(programa)s', programa=program[1]) }}">{{ program[1] }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <h2>{{ _('Miscelánea') }}</h2>
                                    <ul>
                                        <li>CitoplasmaC</li>
                                    </ul>

                                </div>
                                <!-- end of post text -->

                                <!-- post footer -->
                                <div class="card-content-footer-small">
                                    <div class="navbar is-social-center">
                                        <a class="navbar-item" href="{{ SOCIAL['gnusocial'] }}">
                                            <span class="soumaicon">
                                                <svg>
                                                    <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/master.svg#gnusocial" />
                                                    <title>GNUSocial</title>
                                                </svg>
                                            </span>
                                        </a>
                                        <a class="navbar-item" href="{{ SOCIAL['diaspora'] }}">
                                            <span class="soumaicon">
                                                <svg>
                                                    <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/master.svg#diaspora" />
                                                    <title>Diaspora</title>
                                                </svg>
                                            </span>
                                        </a>
                                        <a class="navbar-item" href="{{ SOCIAL['mastodom'] }}">
                                            <span class="soumaicon">
                                                <svg>
                                                    <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/master.svg#mastodom" />
                                                    <title>Mastodom</title>
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                    <!-- post footer nav -->
                                    <div class="columns">
                                        <div class="column has-text-left">
                                            <a class="button is-small is-button-grey" href="{{ SITEURL }}/">{{ _('Regresar al Inicio') }}</a>
                                        </div>
                                    </div>
                                    <!-- end of post footer nav -->

                                </div>
                                <!-- end of post footer -->
                            </div>
                        </div>
                    </div>
                    <!-- end page content -->
                </div>
            </div>
            <!-- end of page -->
        </div>
        <!-- end of pages -->
    </div>
{% endblock %}
