{% extends "base.html" %}

{% block head %}
    {% block title %}
        <title>{{ _('Artículos escritos por %(author)s en %(sitename)s', author=author, sitename=SITENAME) }}</title>
    {% endblock %}
    {{ super() }}
    {% block seo %}
        <!-- Meta Author -->
        <meta name="author" content="{{ author }}"/>
        <meta name="description" content="{{ _('Artículos escritos por %(author)s en %(sitename)s', author=author, sitename=SITENAME) }}"/>
        <meta name="keywords" content="{% trans %}articulista,artículos,author,autor {{ author }},escritor,{{ author }}{% endtrans %}"/>
        <style>
         .card-content-header {
             margin-bottom: 2rem;
         }
        </style>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="card-content-header">
        <h4 class="title is-4 has-text-centered">{{ _('Autor: %(author)s', author=author) }}</h4>
    </div>
    {{ super() }}
{% endblock %}
