{% extends "base.html" %}

{% block head %}
    {% block title %}
        <title>{{ category.name }} - {{SITENAME}}</title>
    {% endblock %}
    {{ super() }}
    <style>
     .card-content-header {
         margin-bottom: 2rem;
     }
    </style>
{% endblock %}

{% block content %}
    <div class="card-content-header">
        <h4 class="title is-4 has-text-centered">{{ category }}</h4>
    </div>
    {{ super() }}
{% endblock %}
