{% extends "base.html" %}

{% block head %}
    {% block title %}
        <title>{% if articles_page.number != 1 %}{{ _('Página') }} {{ articles_page.number }} | {% endif %}{{ SITENAME }}</title>
    {% endblock %}
    {{ super() }}
    {% if lang_siteurls and articles_page.number == 1 %}
        <!-- Languages -->
        {% for lang, url in lang_siteurls.items() %}
            <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}/"/>
        {% endfor %}
    {% endif %}
    {% block seo %}
        {% set SITE_DESCRIPTION = _('Tutoriales para GNU con Linux-libre enfocado a la cultura libre, programas libres y respetando la privacidad.') %}
        <!-- Meta Index -->
        <meta name="author" content="{{ AUTHOR }}"/>
        <meta name="description" content="{{ SITE_DESCRIPTION }}"/>

        <!-- OpenGraph -->
        <meta property="og:title" content="{{ SITESUBTITLE }} - {{ SITENAME }}"/>
        <meta property="og:site_name" content="{{ SITENAME }}">
        <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
        <meta property="og:url" content="{{ SITEURL }}"/>
        <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/cl-favicon-96x96.png"/>
        <meta property="og:type" content="blog"/>

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="{{ SITENAME }}"/>
        <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}"/>
        <meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/cl-favicon-96x96.png"/>
    {% endblock %}
{% endblock %}

{% block sitename %}
    <h1 class="title is-1 is-spaced" itemprop="name">{{ SITENAME }}</h1>
    <p class="subtitle is-4">{{ SITESUBTITLE }}</p>
{% endblock %}
