{% if DEFAULT_PAGINATION %}
    <div class="pagination-style-custom">
        <nav class="pagination is-rounded is-centered" aria-label="pagination">
            {% if articles_page.has_previous() %}
                <a class="pagination-previous button is-button-grey"
                   href="{{ SITEURL }}/{{ articles_previous_page.url }}">{{ _('Página anterior') }}</a>
            {% else %}
                <a class="pagination-previous disabled">{{ _('Página anterior') }}</a>
            {% endif %}

            {% if articles_page.has_next() %}
                <a class="pagination-next button is-button-grey"
                   href="{{ SITEURL }}/{{ articles_next_page.url }}">{{ _('Página siguiente') }}</a>
            {% else %}
                <a class="pagination-next disabled">{{ _('Página siguiente') }}</a>
            {% endif %}

            <ul class="pagination-list">
                {% for num in range(1, 1 + articles_paginator.num_pages) %}
                    {% set print_number = False %}
                    {% set dots_before = True %}
                    {% if num == 1 %}
                        {% set print_number = True %}
                        {% set dots_before = False %}
                    {% elif (articles_page.number - PAGINATOR_LIMIT / 2) <= num < (articles_page.number - PAGINATOR_LIMIT / 2 + 1) %}
                        {% set print_number = True %}
                        {% if num == 2 %}
                            {% set dots_before = False %}
                        {% endif %}
                    {% elif (articles_page.number - PAGINATOR_LIMIT / 2 + 1) <= num <= (articles_page.number + PAGINATOR_LIMIT / 2) %}
                        {% set print_number = True %}
                        {% set dots_before = False %}
                    {% elif num == articles_paginator.num_pages %}
                        {% set print_number = True %}
                        {% if (articles_page.number + PAGINATOR_LIMIT / 2) <= num <= (articles_page.number + PAGINATOR_LIMIT / 2 + 1)%}
                            {% set dots_before = False %}
                        {% endif %}
                    {% endif %}
                    {% if print_number %}
                        {% if dots_before %}
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                        {% endif %}
                        {% if num == articles_page.number %}
                            <li>
                                <a class="pagination-link is-current"
                                   aria-label="Page {{ num }}"
                                   aria-current="page">{{ num }}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a class="pagination-link" aria-label="Goto page {{ num }}"
                                   href="{{ SITEURL }}/{{ articles_paginator.page(num).url }}">{{ num }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endif %}
