{% extends "base.html" %}

{% block head %}
    {% block title %}
        {% set len_period = period|length %}
        {%- if len_period == 1 -%}
            <title>{{ _('Archivos de %(año)d', año=period[0]) }} - {{SITENAME}}</title>
        {%- elif len_period == 2 -%}
            <title>{{ _('Archivos de %(mes)s de %(año)d', año=period[0], mes=period[1]) }} - {{SITENAME}}</title>
        {%- elif len_period == 3 -%}
            <title>{{ _('Archivos del %(dia)d de %(mes)s de %(año)d', año=period[0], mes=period[1], dia=period[2]) }} - {{SITENAME}}</title>
        {%- endif -%}
    {% endblock %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- start of posts -->
        <div class="columns is-multiline is-centered">
            <!-- start of post -->
            <div class="column is-10">
                <div class="card">

                    <div class="card-content-header">
                        <h4 class="title is-4 has-text-centered">
                            {% set len_period = period|length %}
                            {%- if len_period == 1 -%}
                                {{ _('Archivos de %(año)d', año=period[0]) }}
                            {%- elif len_period == 2 -%}
                                {{ _('Archivos de %(mes)s de %(año)d', año=period[0], mes=period[1]) }}
                            {%- elif len_period == 3 -%}
                                {{ _('Archivos del %(dia)d de %(mes)s de %(año)d', año=period[0], mes=period[1], dia=period[2]) }}
                            {%- endif -%}
                        </h4>
                    </div>

                    <div class="card-content">
                        <div class="content">
                            <div class="card-inner-wrapper">

                                <div class="entry-content">
                                    <dl>
                                        {% for article in dates %}
                                            <dt>{{ article.date|strftime('%A %-d de %B de %Y a las %H:%M %z') }}</dt>
                                            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
