{% extends "base.html" %}
{% block head %}
    {% block title %}<title>#{{ tag.name }} - {{SITENAME}}</title>{% endblock title %}
    {{ super() }}
    <meta name="robots" content="noindex, follow" />
    <style>
     .card-content-header {
         margin-bottom: 2rem;
     }
    </style>
{% endblock %}
{% block content %}
    <!-- Main tag -->
    <div class="card-content-header">
        <h4 class="title is-4 has-text-centered">#{{ tag }}</h4>
    </div>
    {{ super() }}
    <!--/Main tag -->
{% endblock %}
